body{
    background-image: url('./bus-1.jpg');
    background-size: cover;
}
.content table{
    margin-top: 30px;
    width: 80%;
    margin-left:10%;
    font-size:16px;
    color: whitesmoke;
    text-align: center;
}
.content table,th,td{
    border: 1px solid;
    border-collapse: collapse;
    border-color: black;
    text-align: center;
    padding: 5px;
}
.content th{
    background-color: #000000;
}
.content td{
    background-color: #c3c3c3;
    color: black;
}
.back{
    margin-top: 10px;
    margin-left: 50%;
}
.graph{
    margin-left: 10%;
}